@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#webclipper3-button {
    list-style-image: url("chrome://webclipper3/skin/webclipper24.png");
}

toolbar[iconsize="small"] #webclipper3-button {
    list-style-image: url("chrome://webclipper3/skin/webclipper16.png");
}

.url
{
    color: #0000ff;
    cursor: pointer;
    text-decoration: underline;
}
.url:hover
{
    color: #ff0000;
}

#webclipper3-button stack label {
    background-color: red;
    right:0;
    bottom:0;
    height: 11px;
    font-size: 9px;
    -moz-border-radius: 2px; border: 1px solid #b50000; color: white;
    border-radius: 2px; border: 1px solid #b50000; color: white;
    background-image:  -moz-linear-gradient(top, #e74142, #ce2021);
    margin:0;

}

toolbar[iconsize="small"] #webclipper3-button stack label.small {
    height: 10px;
    font-size: 8px;
}

#webclipper3-button stack label.small { display: none}

toolbar[iconsize="small"] #webclipper3-button {
    list-style-image: url("chrome://webclipper3/skin/webclipper16.png");
}

toolbar[iconsize="small"] #webclipper3-button stack label.big {display: none}