#evernoteContentClipperWait {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 50%;
    opacity: 1;
    -moz-transition: opacity .6s ease-in;
    z-index: 9999999999999999;
    display: block;
    font-family: arial, helvetica, sans-serif;
}

#evernoteContentClipperWait * {
    display: block !important;
}

#evernoteContentClipperWaitContent {
    background: black;
    opacity: .8;
    color: white;
    padding: 9px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin-left: -50%;
    margin-top: -50%;
    width: 100%;
    height: 100%;
}

#evernoteContentClipperWaitText {
    margin: 0;
    padding: 0;
    float: none;
    display: inline;
    letter-spacing: 1pt;
    line-height: 18px;
}

#evernoteContentClipperWait img {
    display: inline;
    float: left;
    margin: 0 0 0 4px;
    padding: 0;
    border: none;
}