@import url("contentveil.css");

.evernotePreviewContainer {
    padding: 10px;
    font-face: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #696969;
    z-index: 999999999;
}

.evernotePreviewUrlContainer {
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
}

.evernotePreviewUrlContainer a, .evernotePreviewUrlContainer a:active, .evernotePreviewUrlContainer a:hover, .evernotePreviewUrlContainer a:visited {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#evernotePreviewLegend {
    display: inline-block !important;
    float: none !important;
    background: rgba(0,0,0,0.6);
    padding: 12px;
    position: fixed;
    left: 10px;
    top: 0px;
    height: 110px;
    color: white !important;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    text-decoration: none !important;
    text-align: left;
    margin: 0px;
    z-index: 999999992;
    -webkit-border-radius: 4px;
    -webkit-box-sizing: border-box;
}

#evernotePreviewLegend ul {
    display: block !important;
    margin: 0px !important;
    padding: 0px !important;
    list-style: none !important;
    background: none !important;
    color: white !important;
}

#evernotePreviewLegend ul li {
    margin: 0px 0px 5px 0px !important;
    list-style: none !important;
    background: none !important;
    color: white !important;
}

#evernotePreviewLegend ul li:last-of-type {
    margin-top: 10px !important;
    color: white !important;
}

#evernotePreviewLegend .keyIcon {
    display: inline-block !important;
    text-align: right !important;
    vertical-align: middle !important;
    width: 49px !important;
    height: 22px !important;
    padding: 0px !important;
    border: none !important;
    margin-right: 6px !important;
}

#evernotePreviewLegend .keyIcon img {
    display: inline-block !important;
    margin: 0px !important;
    padding: 0px !important;
    float: none !important;
}