body {
    background: white;
    color: black;
    font-family: sans-serif;
    font-size: 10pt;
    min-width: 500px;
    width: 500px;
    font-family: arial, helvetica, sans-serif;
    line-height: 1.5;
    padding: 0px;
    margin: 5px;
    height: 10px;
}

img, a img {
    border: none;
}

body.popup {
    padding-top: 6px;
    width: 200px;
}

body.options {
    /*background-color: #edf6f7;*/
    background: none !important;
    width: auto !important;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    display: inline;
}

.description {
    color: #696969;
    font-size: 10px;
}

div.view {
    display: none;
    padding-bottom: 8px;
}

/*
div.viewWithDrawer {
  padding-bottom: 34px;
}
*/
input.disabled {
    border: none;
}

select.notebookSelect {
    max-width: 130px;
}

.noteThumbnail {
    width: 160px !important;
}

.noteThumbnail img {
    width: 160px;
    height: 120px;
    border: 1px solid #3697b4;;
}

a,a:active,a:hover,a:visited {
    color: #7ebe40;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.paddedVertical {
    margin: 4px 0px;
}

.paddedHorizontal {
    margin: 0px 4px;
}

.padded {
    margin: 4px;
}

#spinner {
    min-height: 30px;
}

#spinnerMessage {
    background: url("../images/spinner.gif") 0px 0px no-repeat;
    padding-left: 20px;
    line-height: 20px;
    vertical-align: baseline;
}

#submitMessage {
    padding: 2px;
    font-weight: bold;
}

#submitMessage.success {
    background: yellow;
    color: black;
}

#submitMessage.error {
    background: red;
    color: white;
}

.autoSaveIndicator {
    background: url("../images/spinner.gif") top left no-repeat;
    padding-left: 20px;
}

/**
 * Errors and messages
 */ /*
input[type=text].error,input[type=password].error,textarea.error {
    color: red;
    font-size: 11px;
}
*/
div
.globalErrorMessage,div.globalMessage {
    font-size: 12px;
    line-height: 15px;
    vertical-align: baseline;
    min-height: 30px;
    display: none;
    padding: 0px;
}

div.globalErrorMessage {
    color: red;
    background: url("../images/icon_message.gif") 0px 4px no-repeat;
    padding-left: 20px;
}

div.globalErrorMessage .simpleMessage,div.globalMessage .simpleMessage {
    font-size: 12px;
    line-height: 24px;
    vertical-align: baseline;
}

div.error {
    color: red;
    font-style: italic;
}

form .error {
    font-size: 12px;
}

div.globalErrorMessage ul {
    margin: 4px 0px;
}

/**
 * Views
 */
.view {
    background-color: #edf6f7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px;
}

.view h2 {
    margin-top: 0px;
}

.view *+h2 {
    margin-top: auto;
}

#optionsHeader {
    text-align: center;
}

body.options h2 {
    display: block;
    text-align: center;
    margin: 4px 0px;
    font-size: 16pt;
    font-weight: bold;
    color: #333;
}

body.options .copyright {
    text-align: center;
    padding-bottom: 20px;
}

body.options select {
    max-width: 300px;
}

#optionsView {
    width: 600px;
}

#quickNoteView.autoSaved h2 {
    margin-right: 4px;
}
 
#quickNoteView .needsSyncIndicator {
    vertical-align: bottom;
    padding: 0px 4px 5px 0px;
    opacity: 0.8;
    display: none;
}
#quickNoteView.autoSaved .needsSyncIndicator {
    display: inline;
}

#quickNoteView .description {
    display: inline;
}
#quickNoteView .description.autoSaved {
    display: none !important;
}
#quickNoteView.autoSaved .description {
    display: none !important;
}
#quickNoteView.autoSaved .description.autoSaved {
    display: inline !important;
}

#quickNoteView textarea {
    max-height: 280px;
    max-width: 520px;
    width: 520px;
}

#fileView textarea {
    max-height: 270px;
    max-width: 234px;
    width: 234px;
}

/**
 * Vignette
 */
.vignette {
    margin: 20px auto 10px auto;
    padding: 0px;
    border-width: 12px 20px 20px 12px;
    -webkit-border-image: url("../images/vignette.png") 12 20 20 12 stretch stretch;
    -moz-border-image: url("../images/vignette.png") 12 20 20 12 stretch stretch;
}

.vignetteContent {
    background: white;
    padding: 18px;
    -border-radius: 6px;
}

/**
 * Drawer
 */
.drawer {
    overflow: hidden;
    height: 34px;
    position: absolute;
    bottom: 4px;
    width: 500px;
    margin: 0px;
    padding: 0px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
/*    -moz-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;*/
}

.drawer.closedDrawer {
    height: 34px;
}

.drawer.openDrawer {
    height: 340px !important;
    /*top: 86px;*/
}

.drawerHandle.openDrawer {
    margin-bottom: 327px !important;
}

.drawer.openDrawer>* {
/*    display: auto;*/
}

.drawerHandle {
    margin: 0px;
    /*padding: 0px 10px 0px 10px;*/
    height: 12px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 100;
    line-height: 14px;
    border-width: 16px 20px 6px 15px;
    -webkit-border-image: url("../images/Drawer/drawer_tab.png") 16 20 10 15 stretch stretch;
    -moz-border-image: url("../images/Drawer/drawer_tab.png") 16 20 10 15 stretch stretch;
}

.drawerHandleTitle {
/*    background: url("../images/Drawer/drawer_arrow_green_up.png") 4px right no-repeat;*/
    padding: 0px 20px 0px 10px;
    height: 12px;
    margin-right: -4px;
    -webkit-background-clip: padding;
/*    -moz-background-clip: padding;*/
}

.drawerHandle:HOVER {
    cursor: pointer;
}

.drawerContent {
    display: block;
    margin-top: 6px;
    cursor: default;
    position: absolute;
    width: 460px;
    left: 0px;
    padding: 20px;
    background: url("../images/Drawer/drawer_content.png") 0px -30px;
    height: 300px;
    top: 20px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.drawer.closedDrawer {
    height: 10px;
}

.drawerContent {
    top: -6px;
}

.drawerHandle.openDrawer {
    border-width: 16px 20px 10px 15px;
}

.drawerHandle.closedDrawer {
    border-width: 16px 20px 6px 15px;
}

.drawerHandle.openDrawer .drawerHandleTitle {
/*    background: url("../images/Drawer/drawer_arrow_green_down.png") 4px right no-repeat;*/
}

.drawerHandle.closedDrawer .drawerHandleTitle {
/*    background: url("../images/Drawer/drawer_arrow_green_up.png") 4px right no-repeat;*/
}

.drawerHandle.openDrawer:HOVER .drawerHandleTitle {
/*    background: url("../images/Drawer/drawer_arrow_down_pressed.png") 4px right no-repeat;*/
}

.drawerHandle.closedDrawer:HOVER .drawerHandleTitle {
/*    background: url("../images/Drawer/drawer_arrow_up_pressed.png") 4px right no-repeat;*/
}

body.openDrawer {
    min-height: 385px;
    max-height: 385px;
}

.drawer.closedDrawer .drawerComponent {
  display: none;
}
.drawer.openDrawer .drawerComponent {
/*  display: "";*/
}

/**
 * Header
 */
#header {
    height: 40px;
    color: #696969;
    font-size: 11px;
    font-weight: normal;
}

#headerLogo {
    height: 30px;
    float: left;
}

.headerLinks {
    height: 30px;
    float: right;
    line-height: 30px;
    color: #696969;
    margin-right: 4px;
}

.headerLinks a,#headerUser a:active,#headerUser a:hover,#headerUser a:visited
    {
    font-weight: bold;
}

/**
 * General forms
 */
form {
    padding: 0px;
    margin: 0px;
}

.radioGroup input[type=radio] {
    margin-bottom: 4px;
}

.radioGroup label:after {
    content: "" !important;
}

/**
 * General form tables
 */
table.formTable {
    width: 100%;
}

table.formTable tr td {
    text-align: right;
    padding: 4px 4px 4px 0px;
    vertical-align: top;
}

table.formTable tr td+td {
    text-align: left;
    padding: 4px 0px;
}

table.formTable input[type=text],table.formTable input[type=password],table.formTable .error
    {
    min-width: 290px;
    width: 290px;
}

form.optionsForm label:after {
    content: ":";
}

/**
 * Compact form table
 */
table.compactFormTable {
    width: 100%;
}

table.compactFormTable td {
    vertical-align: top;
}

table.compactFormTable tr td+td {
    padding-left: 20px;
}

table.compactFormTable tr.separator td,table.compactFormTable tr.separator td
    {
    border-top: 1px solid #8dccd9;
}

table.compactFormTable tr.firstRow td {
    padding-top: 4px;
}

table.compactFormTable tr td label {
    color: #696969;
    font-size: 10px;
    font-weight: bold;
    display: block;
}

table.compactFormTable tr td input[type=checkbox]+label {
    display: inline;
}

table.compactFormTable tr td input[type=text],table.compactFormTable tr td input[type=password],table.compactFormTable tr td textarea,table.compactFormTable tr td select
    {
    width: 99%;
    min-width: 99%;
}

table.compactFormTable label.disabled {
    color: #c0c0c0;
}

table.compactFormTable tr.actionControlRow td {
    padding-top: 8px;
}

/**
 * Neat form table
 */
table.neatFormTable {
    width: 100%;
}

table.neatFormTable tr td {
    text-align: left;
    font-size: 10px;
    color: #696969;
    font-weight: bold;
    padding: 8px 0px;
    margin: 0px;
    vertical-align: top;
}

table.neatFormTable tr+tr td {
    padding-top: 0px;
}

table.neatFormTable tr.separator td {
    padding-top: 8px;
    padding-right: 8px;
}

table.neatFormTable tr td+td {
/*    font-size: auto;*/
/*    color: auto;*/
    font-weight: normal;
    padding-left: 0px;
}

table.neatFormTable tr td+td+td {
    padding-left: 10px;
}

table.neatFormTable tr td label {
    font-size: 11px;
    line-height: 18px;
    vertical-align: baseline;
    display: block;
}

table.neatFormTable tr td input[type=text],table.neatFormTable tr td input[type=password],table.neatFormTable tr td textarea,table.neatFormTable tr td select
    {
    min-width: 98%;
    width: 98%;
}

table.neatFormTable tr.separator td {
    border-top: 1px solid #8dccd9;
}

table.neatFormTable tr.actionControlRow td {
    padding-top: 8px;
}

table.neatFormTable a,table.neatFormTable a:active,table.neatFormTable a:hover,table.neatFormTable a:visited
    {
    color: #3697b4;
    font-size: 12px !important;
    text-decoration: none;
    font-weight: normal;
}

table.neatFormTable a:hover {
    text-decoration: underline;
}

/**
 * Common form table elements
 */
table.neatFormTable label.disabled
table.compactFormTable label.disabled {
    color: #c0c0c0;
}

/**
 * Simple options table.
 * User on the options page.
 * It is basically a two column table with the first column listing the label for the option
 * and the second column listing options...
 */
table.simpleOptions {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #edf6f7;
    margin-bottom: 16px;
    width: 100%;
}

table.simpleOptions td {
    width: 30%;
    vertical-align: top;
    padding: 8px 0px;
}

table.simpleOptions td+td {
    width: 70%;
}

table.simpleOptions td label {
    font-weight: bold;
}

table.simpleOptions td+td label {
    font-weight: normal;
}

/**
 * NotesSearch
 */
#notesSearch form {
    margin-bottom: 4px;
}

#notesSearch label[for=notesSearchQuery] {
    font-size: 12pt;
}

#notesSearch label[for=notesSearchQuery]:after {
    content: ":";
}

#notesSearch input[name=notesSearchQuery] {
    font-size: 12pt;
    width: 300px;
}

#notesList { /*overflow: hidden;*/
    overflow-y: auto;
    overflow-x: hidden;
    height: 275px;
    height: 275px;
    border-width: 1px;
    border-style: solid;
    border-color: #769963;
    /*background: #769963;*/
}

#notesList.notesListEmpty {
    border-width: 0px;
}

#notesListItems {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.17);
}

.noteListItem {
    border-width: 0px 0px 1px 0px;
    border-color: #769963;
    border-style: solid;
    height: 92px;
    background: none;
    padding: 0px;
    border-color: #769963;
}

.noteListItemTitle {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
/*    text-overflow: ellipsis;*/
}

.noteListItemDate {
    color: #777;
    font-weight: bold;
}

.noteListItemTags {
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
/*    text-overflow: ellipsis;*/
    color: #4c9ea8;
    font-size: 12px;
}

.noteListItemThumb {
    border-width: 1px 0 0 0;
    border-color: #769963;
    border-style: solid;
}

.noteListItemUrl {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 4px;
    margin-right: 4px;
}
.noteListItemUrl a {
    color: #696969;
    padding: 0 14px 0 0;
/*    background: url("../images/go-arrow-icon.png") no-repeat 2px right;*/
    opacity: 0.5;
}
.noteListItemUrl a:hover {
    text-decoration: underline;
    opacity: 1;
}

.noteListItemThumb:FIRST-CHILD {
    border-width: 0px;
    padding-top: 1px;
}

.noteThumb { /*background: white;*/
    float: left;
    width: 90px;
    height: 67px;
    margin: 8px 10px 0px 10px;
    padding: 0px;
    border-width: 4px 6px 9px 6px;
    -webkit-border-image: url("../images/thumb_frame_filled.png") 4 6 9 6 stretch stretch;
    -moz-border-image: url("../images/thumb_frame_filled.png") 4 6 9 6 stretch stretch;
}

.noteListItem .noteThumbPlaceholder {
    width: 16px;
    height: 16px;
    padding: 25px 37px 26px 37px;
    background: white;
    -webkit-background-clip: padding;
/*    -moz-background-clip: padding;*/
}

.noteListItemInfo { /*background: #C8E3B4;*/
    background: white;
    opacity: 0.9;
    height: 75px;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #769963;
    margin-left: 120px;
    padding: 8px;
}

#notesListLoadingContainer,#notesListEmptyContainer {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: black;
}

#notesListLoadingIndicator,#notesListEmptyIndicator {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-top: 100px;
}

#notesSearchQueryTable {
    padding: 0px;
    margin: 0px;
    /*width: 100%;*/
    width: 480px;
    border-spacing: 0px;
}

#notesSearchQueryTable td {
    padding: 0px;
    margin: 0px;
    text-align: center;
    /*width: 0px;*/
}

#notesSearchQueryTable td:first-child {
    /*width: 100%;*/
    /*text-align: right;*/
    /*
    padding-right: 8px;
    padding-top: 3px;
    */
}

#notesSearchQueryTable input[type=submit] {
/*    font-size: auto !important;*/
}

#notesSearchQuery {
    width: 100% !important;
    opacity: 0.9;
}

/**
 * Autocomplete
 */
.ac_results ul li {
    text-indent: 4px;
    padding: 4px;
}

.ac_results ul li img {
    float: left;
}

.ac_odd {
    background-color: #f2f6f7;
}
.ac_over {
    background-color: #9ab2b6;
}

.optionsDescription {
    color: #696969;
    font-size: 8pt;
}