#spinner {
    min-height: 30px;
    height: 30px;
    width: 100%;
}

#spinnerMessage {
    background: url("images/spinner.gif") top center no-repeat;
    text-align: center;
    width:100%;
    height:25px;
    vertical-align: baseline;
}
.popup {
    margin: 0px ;
    padding: 0px ;
}

.submitWithOptions div[type=submit].clip-article-button {
    background-image: url('chrome://webclipper3-common/skin/clipArticle.png'); background-repeat: no-repeat; background-position: 8px 50%
}
.submitWithOptions div[type=submit].clip-fullpage-button {
    background-image: url('chrome://webclipper3-common/skin/clipFullPage.png'); background-repeat: no-repeat; background-position: 8px 50%
}
.submitWithOptions div[type=submit].clip-url-button {
    background-image: url('chrome://webclipper3-common/skin/clipURL.png'); background-repeat: no-repeat; background-position: 8px 50%
}

.submitWithOptions div[type=submit].clip-article-button.ui-state-hover {
    background: url('chrome://webclipper3-common/skin/clipArticle.png') no-repeat 8px 50%, -moz-linear-gradient(top, #eff8e5, #e0efd3) !important;
    border-color: #b2c0a4 !important;
}
.submitWithOptions div[type=submit].clip-fullpage-button.ui-state-hover {
    background: url('chrome://webclipper3-common/skin/clipFullPage.png') no-repeat 8px 50%, -moz-linear-gradient(top, #eff8e5, #e0efd3) !important;
    border-color: #b2c0a4 !important;
}
.submitWithOptions div[type=submit].clip-url-button.ui-state-hover {
    background: url('chrome://webclipper3-common/skin/clipURL.png') no-repeat 8px 50%, -moz-linear-gradient(top, #eff8e5, #e0efd3) !important;
    border-color: #b2c0a4 !important;
}

.submitWithOptions {
    display: inline-block;
}
.submitWithOptions div[type=submit] {
    font-size: 11px;
    padding: 12px 0px;
    padding-left: 35px;
    text-align: left;
    border:  1px solid #e6e6e6;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #333333;
    background-color: #f5f5f5;
    font-family: helvetica, arial, sans-serif;
    vertical-align: bottom;
    -moz-appearance: button;
    background-position: center left;
    background-clip: padding-box;
    -moz-box-sizing: content-box;
    clear: both;
    white-space: nowrap;
    text-align: right;
    padding-right: 8px;
    cursor: pointer;

}
.submitWithOptions input[type=submit] {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
    background-color: transparent;
    font-family: helvetica, arial, sans-serif;
    -moz-appearance: button;
}

.submitWithOptions .action-text {

    float: left;
    white-space: nowrap;
    margin-right: 10px;
    min-width: 100px;
    text-align: left;
    font-size: 11px;
    line-height: 11px;
}

.submitWithOptions .keypress-text {
    text-align: right;
    display: inline-block;
    font-size: 10px;
    color: #666666;
    font-family: helvetica, arial, sans-serif;
    width: 50px;
    visibility: hidden;
}

.submitWithOptions .ui-state-hover .keypress-text {
    visibility: visible;
}