.notelistSearchContainer form {
    margin-bottom: 4px;
}

.notelistSearchContainer label[for=notesSearchQuery] {
    font-size: 12pt;
}

.notelistSearchContainer label[for=notesSearchQuery]:after {
    content: ":";
}

.notelistSearchContainer input[name=notesSearchQuery] {
    font-size: 12pt;
    width: 300px;
}

#notesList, #notesContextList {
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
    border: 1px solid #cacaca;
    margin-top: 10px;
}

#notesList.notesListEmpty, #notesContextList.notesListEmpty {
    border-width: 0;
}

#notesListItems, #notesContextListItems {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.17);
}

.noteListItem {
    border-width: 1px 0 1px 0;
    border-color: #e6e6e6;
    border-style: solid;
    height: 102px;
    background: none;
    padding: 0;
    font-face: Helvetica, sans-serif;
    color: #333;
}

.noteListItem:HOVER {
    cursor: pointer;
}

.noteListItemTitle {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    color: black;
}

.noteListItem:HOVER .noteListItemTitle {
    text-decoration: underline;
}

.noteListItemDate {
    display: inline;
    font-size: 8pt;
    color: #4c9ea8;
}

.noteListItemTags {
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4c9ea8;
    font-size: 12px;
}

.noteListItemThumb {
    float: right;
    margin-left: 6px;
    width: 100px;
    height: 100px;
}

.noteListItemUrl {
    position: absolute;
    bottom: 0;
    left: 6px;
    padding: 4px;
    margin-right: 4px;
    font-size: 9pt;
}

.noteListItemUrl a {
    color: #696969;
    padding: 0 14px 0 0;
    background: url(../images/go-arrow-icon.png) no-repeat 2px right;
    opacity: .5;
}

.noteListItemUrl a:hover {
    text-decoration: underline;
    opacity: 1;
}

.noteListItem .noteThumbPlaceholder {
    width: 16px;
    height: 16px;
    padding: 25px 37px 26px 37px;
    background: white;
    -webkit-background-clip: padding;
}

.noteListItemInfo {
    background: white;
    height: 85px;
    border: none;
    padding: 8px;
    line-height: 16px;
}

.noteListItemContent {
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noteListItemSnippet, .noteItemAttachmentFileName {
    display: inline;
    font-size: 12px;
    line-height: 1 !important;
    color: #404040;
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    color: #333;
}

.noteItemAttachmentFileName {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    textOverflow: ellipsis;
    text-transform: none;
    margin-left: 0;
    padding-top: 4px;
}

#notesListLoadingContainer, #notesListEmptyContainer, #notesContextListLoadingContainer, #notesContextListEmptyContainer {
    width: 100%;
    height: 100%;
}

#notesListLoadingIndicator, #notesListEmptyIndicator, #notesContextListLoadingIndicator, #notesContextListEmptyIndicator {
    color: #696969;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-top: 100px;
}

.notelistSearchTable {
    padding: 0;
    margin: 0;
    width: 460px;
    border-spacing: 0;
}

.notelistSearchTable td {
    padding: 0 0 0 2px;
    margin: 0;
    text-align: center;
    min-width: 10px;
}

.notelistSearchTable td:first-child {
    text-align: left;
    padding: 0 2px 0 0;
    width: 100%;
}

.notelistSearchTable input[type=submit] {
    font-size: 12pt;
}

.notelistSearchQuery {
    width: 100% !important;
    font-size: 10pt;
    padding: 2px;
    -webkit-box-sizing: border-box;
}

#notesContextListTitle {
    padding: 2px 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11pt;
}

.notelistSearchPrefix {
    position: absolute;
    top: 25px;
    left: 22px;
    max-width: 140px;
    background-color: #fbed73;
    padding: 0 4px;
    margin: 0;
    font-size: 10pt;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notelistSearchPrefix:after {
    content: ":";
}