body.popup {
    background       : #f2f5f6;
    min-width        : 550px;
    width            : 550px;
    padding          : 8px;
    margin           : 5px;
    height           : 10px;
    border-radius    : 4px;
    -moz-user-select : -moz-none;
}

input, textarea {
    -moz-user-select : text ! imporntant;
}

.banner {
    display : none;
}

div.view {
    display        : none;
    padding-bottom : 8px;
}

body.popup input[type=submit] {
    color            : #59595b;
    font-weight      : bold;
    text-shadow      : #edf6e5 1px 1px 0;
    padding          : 6px 10px;
    border-radius    : 4px;
    border           : 1px solid #b2c0a6;
    background-image : -moz-linear-gradient(center bottom, #e0efd3 0%, #eff8e6 100%);
}

body.popup input[type=submit]:HOVER {
    background : -moz-linear-gradient(center top, #e0efd3 0%, #eff8e6 100%);
}

select.notebookSelect {
    max-width : 465px;
    position  : relative;
    top       : 1px;
}

#spinnerMessage {
    background     : url("../images/spinner.gif") 0 0 no-repeat;
    padding-left   : 20px;
    line-height    : 20px;
    vertical-align : baseline;
}

div.globalErrorMessage {
    color : #f2f5f6;
}

.view h2 {
    color       : #696969;
    text-shadow : white 0 1px 1px;
    margin-top  : 0;
}

.view *+h2 {
    margin-top : auto;
}

.view label[for="mailTo"] {
    font-size      : 10pt !important;
    color          : #7EBE40 !important;
    padding-left   : 18px !important;
    padding-bottom : 4px !important;
    background     : url(../images/icon_mail.png) no-repeat 0 0;
}

.view label[for="mailTo"]:HOVER {
    cursor : pointer;
}

.view input[name="mailTo"] {
    margin-bottom : 8px;
}

#quickNoteView {
    z-index    : 20;
    margin-top : 12px;
}

#quickNoteView * {
    z-index : 20;
}

#quickNoteView .description {
    display : inline;
}

#quickNoteView .description.autoSaved {
    display : none !important;
}

#quickNoteView textarea[name=comment] {
    height     : 14px;
    max-height : 44px;
    max-width  : 520px;
    width      : 520px;
}

#quickNoteView textarea[name=comment].focus {
    height     : 44px;
    max-height : 44px;
    max-width  : 520px;
    width      : 520px;
}

#notesView {
    margin-top     : -25px;
    padding-bottom : 10px;
    z-index        : 10;
}

#notesView * {
    z-index : 10;
}

#loginView {
    margin-top : 12px;
}

#loginView input[type=text], #loginView input[type=password] {
    width : 90%;
}

#header {
    height      : 40px;
    color       : #696969;
    font-size   : 11px;
    font-weight : normal;
}

#headerLogo {
    height : 30px;
    float  : left;
}

#headerLogo>* {
    float : left;
}

.headerLinks {
    height       : 30px;
    float        : right;
    line-height  : 30px;
    color        : #696969;
    margin-right : 4px;
    font-family  : Helvetica, sans-serif;
    font-size    : 12px;
    font-weight  : normal;
    text-shadow  : white 0 1px 1px;
}

.headerLinks a, #headerUser a:active, #headerUser a:hover, #headerUser a:visited {
    font-family : Helvetica, sans-serif;
    font-size   : 12px;
    color       : #6fb536;
    font-weight : normal;
    text-shadow : white 0 1px 1px;
}

#headerUser {
    max-width     : 350px;
    white-space   : nowrap;
    text-overflow : ellipsis;
}

#headerUsername {
    max-width     : 250px;
    overflow      : hidden;
    text-overflow : ellipsis;
    display       : inline;
    cursor        : pointer;
}

#headerUsername:HOVER {
    text-decoration : underline;
}

#headerLogoMessage {
    margin-left : 10px;
    border-left : 1px solid #b2c0a6;
    font-face   : Helvetica, sans-serif;
    font-size   : 14px;
    font-style  : italic;
    padding     : 4px 10px 2px 10px;
    display     : none;
}

.compactForm .notebookField, .compactForm .tagField, .compactForm .commentField {
    background-position : 10px 6px;
    background-repeat   : no-repeat;
}

.compactForm .notebookField {
    background-image : url(../images/icon_notebook.png);
}

.compactForm .tagField {
    background-image : url(../images/icon_tag.png);
}

.compactForm .commentField {
    background-image : url(../images/icon_text.png);
}

.compactForm select[name=notebookGuid] {
    outline-offset : 2px;
}

.ac_results ul li {
    text-indent : 4px;
    padding     : 4px;
}

.ac_results ul li img {
    float : left;
}

.ac_odd {
    background-color : #f2f6f7;
}

.ac_over {
    background-color : #9ab2b6;
}

#arrow-hide {
    position         : fixed;
    left             : 145px;
    top              : 85px;
    background-color : #FFF;
    z-index          : 999999;
    width            : 20px;
    display          : "none";
}

#comments {
    background-position : 10px 11px;
}

#notebookPlaceholder {
    padding-left : 5px;
    color        : rgb(66%, 66%, 66%);
}

/* Keep this from overflowing our available space for long notebook names. */
#notebookControl {
    max-width : 450px;
}

/* Only displayed when we've auto-selected a notebook with smart filing. */
select.notebookSelectSmartSelection {
    background-color   : #ebf5e2 !important;
    border             : 1px solid #ccd6c5;
    -moz-border-radius : 3px;
    padding-top        : 3px;
    padding-bottom     : 1px;
    margin-top         : -3px;
    margin-bottom      : -3px;
    margin-left        : 3px;
    color              : #555;
}

#actions-container {
    margin-top : 15px;
}

#notesTabbedView {
    padding-top : 5px;
}

/* Tag Entry Box */

.tagEntryBox {
    padding-right : 20px;
}

.tagEntryBox input {
    width        : 150px !important;
    border       : 1px solid white !important; /* Makes our height match an autoTag. */
    border-width : 1px 0 !important; /* But we don't want to move our text horizontally. */
    margin       : 0 !important;
    margin-top   : 2px !important;
    line-height  : 18px !important;
}

.tagEntryBox input.wide {
    width : 400px !important;
}

span.autoTag {
    background-color   : #ebf5e2 !important;
    border             : 1px solid #ccd6c5;
    -moz-border-radius : 3px;
    padding-top        : 0;
    padding-bottom     : 0;
    padding-left       : 4px;
    color              : #555;
    display            : inline-block;
    margin             : 0;
    margin-top         : 2px;
    margin-left        : 3px;
    line-height        : 18px;
}

/* This is gray by default on windows. */
.existingTagContainer input:disabled {
    background-color : white;
}

span.autoTag img {
    margin-left  : 3px;
    position     : relative;
    top          : 2px;
    margin-right : 3px;
}

span.autoTag img:hover {
    cursor : pointer;
}

.existingTagContainer {
    margin     : -1px 0;
    margin-top : -3px;
}

.tagEntryBox .removeTags {
    position : absolute;
    right    : 18px;
    top      : 0px;
    display  : none; /*js will make it visible when required. */
}

.tagEntryBox .removeTags:hover {
    cursor : pointer;
}

.tagEntryBox .autoComplete {
    position         : absolute;
    background-color : white;
    display          : none;
    z-index          : 5000;
    color            : #555;
    border           : 1px solid #D9D9D9;
    width            : 150px;
    -moz-box-shadow  : 1px 1px 7px 0px #AAA;
    max-height       : 96px;
    overflow-x       : hidden;
    overflow-y       : auto;
}

.tagEntryBox .autoComplete > div {
    padding       : 3px 8px;
    text-overflow : ellipsis;
    overflow      : hidden;
    height        : 18px;
}

.tagEntryBox .autoComplete > div.unstriped {
    background-color : #FFF;
}

.tagEntryBox .autoComplete > div.striped {
    background-color : rgb(245, 245, 245);
}

.tagEntryBox .autoComplete > div.selected {
    /*background-color: rgb(153, 181, 181); */
    color            : white;
    /*background-color: rgb(25%, 45%, 97%);*/
    background-color : #3399ff;
}

#switchText:hover {
    text-decoration : underline;
    cursor          : pointer;
}

#switchService {
    position : absolute;
    right    : 50px;
    bottom   : 30px;
}

#switchImg {
    margin-left : 4px;
}

.newFeatureOverlay {
    font-size      : 12px;
    color          : #ddd !important;
    width          : 380px;
    padding        : 7px;
    padding-top    : 10px;
    padding-bottom : 3px;
    position       : absolute;
    top            : 141px;
    left           : 20px;
    z-index        : 450 !important;
    margin-left    : 2px;
    margin-top     : 1px;
    display        : none;
}

.newFeatureOverlayFF14 {
    -moz-border-image: url('../images/new_feature_backdrop.png') 1 1 1 1/1px 1px 1px 1px;
}
.newFeatureOverlayFF15 {
    -moz-border-image: url('../images/new_feature_backdrop.png') 1 200 1 200/1px 200px 1px 200px;
}

/* 'dismiss' X icon.*/
.newFeatureOverlay img {
    float    : right;
    position : relative;
    top      : 1px;
    left     : 4px;
}

.newFeatureOverlay img:hover {
    cursor : pointer;
}















