#evernoteResultStats {
    margin-left: 10px;
}

#evernoteResultStatsMessage {
    background: url("resource://evernote_images/searchLogo.png") #e4f2f5 no-repeat 9px 9px;
    padding: 19px 19px 17px 50px;
    margin: 10px 0 5px 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    color: #696969;
}

#evernoteResultStatsMessage a {
    color: #696969;
    text-decoration: none;
    line-height: 13px;
    padding: 0;
    margin: 0;
}

#evernoteResultStatsMessage a:HOVER {
    color: #696969 !important;
    text-decoration: underline;
}

#evernoteResultStatsMessage a:ACTIVE {
    color: #696969 !important;
    text-decoration: none;
}

#evernoteResultStatsMessage a:VISITED {
    color: #696969 !important;
    text-decoration: none;
}

#evernoteResultStatsMessage .evernoteResultStatsCount {
    color: #69AA35;
}

#evernoteResultStatsErrorMessage {
    background: url("resource://evernote_images/icon_simsearch_error.png") #e4f2f5 no-repeat 9px 9px;
    padding: 19px 19px 17px 50px;
    margin: 10px 0 5px 0;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #696969;
}

#evernoteResultStatsErrorMessage a {
    color: #69AA35;
    text-decoration: none;
    line-height: 13px;
}

#evernoteResultStatsErrorMessage a:HOVER {
    color: #69AA35;
    text-decoration: underline;
}

#evernoteResultStatsErrorMessage a:ACTIVE {
    color: #69AA35;
    text-decoration: none;
}

#evernoteResultStatsErrorMessage a:VISITED {
    color: #69AA35;
    text-decoration: none;
}

.evernoteResultStatsLargeText {
    font: Arial;
    font-size: 16px !important;
    line-height: 13px;
}

.evernoteResultStatsSmallText {
    font: Arial;
    font-size: 11px !important;
    line-height: 13px;
}

.evernoteLinkedUrl {
    margin: 5px 0 15px 0;
    background: url("resource://evernote_images/content_notebook_icon.png") 0 0 no-repeat;
    padding-left: 20px;
}

.evernoteLinkedUrl a {
    color: dimGray;
    text-decoration: none;
    font-weight: bold;
}

.evernoteLinkedUrl a:HOVER {
    text-decoration: underline;
}

.evernoteDomainPagesInEvernote a {
    color: #4272DB;
    text-decoration: none;
    font-weight: normal;
}

.evernoteDomainPagesInEvernote a:HOVER {
    text-decoration: underline;
}