@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#webclipper3-button {
	list-style-image: url("chrome://webclipper3/skin/webclipper24.png");
}

toolbar[iconsize="small"] #webclipper3-button {
	list-style-image: url("chrome://webclipper3/skin/webclipper16.png");
}

