table.formTable {
    width: 100%;
}

table.formTable tr td {
    text-align: right;
    padding: 4px 4px 4px 0;
    vertical-align: top;
}

table.formTable tr td+td {
    text-align: left;
    padding: 4px 0;
}

table.formTable input[type=text], table.formTable input[type=password], table.formTable .error {
    min-width: 240px;
    width: 240px;
    -webkit-border-radius: 4px;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 1px 0 white;
    padding: 6px;
}

table.formTable input[type=checkbox] {
    margin-right: 6px;
}

.compactForm .row {
    margin: 0;
    padding: 4px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #d9d9d9;
    background-color: white;
}

.compactForm .row.rowPadded {
    padding: 4px 4px 4px 24px;
}

.compactForm .row.firstRow {
    border-top-width: 1px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

.compactForm .row.lastRow {
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.compactForm input[type=text], .compactForm textarea {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    -webkit-padding-start: 4px;
    -webkit-box-sizing: border-box;
}

.compactForm textarea {
    -webkit-padding-start: 5px;
    -webkit-transform: translate(0px, 2px);
}

.compactForm select {
    -moz-appearance: button;
    border: none;
    padding: 0;
    -moz-padding-start: 4px;
    -moz-padding-end: 20px;
    background-image: url(/images/icon_down_padded.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.compactForm select:focus, .compactForm input[type=submit]:focus {
    outline: auto;
    outline-color: #0c6c9c;
}

.compactForm .actions {
    text-align: right;
    margin: 10px 0;
}

.submitWithOptions input[type=submit] {
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    z-index: 400;
    width: 100px;
    position: relative;
    right: -80px;
    -webkit-box-sizing: content-box;
    margin-right: 18px;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 12px;
}

table.simpleOptions {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #edf6f7;
    margin-bottom: 16px;
    width: 100%;
    table-layout: fixed;
}

table.simpleOptions td {
    width: 30%;
    vertical-align: top;
    padding: 8px 0;
}

table.simpleOptions td+td {
    width: 70%;
}

table.simpleOptions td label {
    font-weight: bold;
}

table.simpleOptions td+td label {
    font-weight: normal;
}

table.simpleOptions tr.coupledRow td {
    padding: 2px 0;
}