body.popup {
    background: #f2f5f6;
    min-width: 500px;
    width: 500px;
    padding: 8px;
    margin: 5px;
    height: 10px;
    width: 200px;
    border-radius: 4px;
    -moz-user-select: none;
}

.banner {
    display: none;
}

div.view {
    display: none;
    padding-bottom: 8px;
}

body.popup input[type=submit] {
    color: #59595b;
    font-weight: bold;
    text-shadow: #edf6e5 1px 1px 0;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #b2c0a6;
    background-image: -moz-linear-gradient(center  bottom, #e0efd3 0%, #eff8e6 100%);
}

body.popup input[type=submit]:HOVER {
    background-image: -moz-linear-gradient(center top, #e0efd3 0%, #eff8e6 100%);
}

select.notebookSelect {
    max-width: 100px;
}

#spinnerMessage {
    background: url("../images/spinner.gif") 0 0 no-repeat;
    padding-left: 20px;
    line-height: 20px;
    vertical-align: baseline;
}

div.globalErrorMessage {
    color: #f2f5f6;
}

.view h2 {
    color: #696969;
    text-shadow: white 0 1px 1px;
    margin-top: 0;
}

.view *+h2 {
    margin-top: auto;
}

.view label[for="mailTo"] {
    font-size: 10pt !important;
    color: #7EBE40 !important;
    padding-left: 18px !important;
    padding-bottom: 4px !important;
    background: url(/images/icon_mail.png) no-repeat 0 0;
}

.view label[for="mailTo"]:HOVER {
    cursor: pointer;
}

.view input[name="mailTo"] {
    margin-bottom: 8px;
}

#quickNoteView {
    z-index: 20;
}

#quickNoteView * {
    z-index: 20;
}

#quickNoteView .description {
    display: inline;
}

#quickNoteView .description.autoSaved {
    display: none !important;
}

#quickNoteView textarea[name=comment] {
    height: 14px;
    max-height: 44px;
    max-width: 470px;
    width: 470px;
}

#quickNoteView textarea[name=comment]:focus, #quickNoteView textarea[name=comment].focus {
    height: 44px;
    max-height: 44px;
    max-width: 470px;
    width: 470px;
}

#notesView {
    margin-top: -30px;
    padding-bottom: 10px;
    z-index: 10;
}

#notesView * {
    z-index: 10;
}

#loginView input[type=text], #loginView input[type=password] {
    width: 80%;
}

#header {
    height: 40px;
    color: #696969;
    font-size: 11px;
    font-weight: normal;
}

#headerLogo {
    height: 30px;
    float: left;
}

#headerLogo>* {
    float: left;
}

.headerLinks {
    height: 30px;
    float: right;
    line-height: 30px;
    color: #696969;
    margin-right: 4px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-shadow: white 0 1px 1px;
}

.headerLinks a, #headerUser a:active, #headerUser a:hover, #headerUser a:visited {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #6fb536;
    font-weight: normal;
    text-shadow: white 0 1px 1px;
}

#headerUser {
    max-width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#headerUsername {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}

#headerUsername:HOVER {
    text-decoration: underline;
}

#headerLogoMessage {
    margin-left: 10px;
    border-left: 1px solid #b2c0a6;
    font-face: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    padding: 4px 10px 2px 10px;
    display: none;
}

.compactForm .notebookField, .compactForm .tagField, .compactForm .commentField {
    background-position: 10px 6px;
    background-repeat: no-repeat;
}

.compactForm .notebookField {
    background-image: url(/images/icon_notebook.png);
}

.compactForm .tagField {
    background-image: url(/images/icon_tag.png);
}

.compactForm .commentField {
    background-image: url(/images/icon_text.png);
}

.compactForm select[name=notebookGuid] {
    outline-offset: 2px;
}

.ac_results ul li {
    text-indent: 4px;
    padding: 4px;
}

.ac_results ul li img {
    float: left;
}

.ac_odd {
    background-color: #f2f6f7;
}

.ac_over {
    background-color: #9ab2b6;
}

.neiron-tooltip {
    border-radius : 5px;
    background    : #eee;
    border        : 1px solid #888;
    font-family   : Arial, sans-serif;
    font-size     : 12px;
    padding       : 8px;
    position      : fixed;
    text-align    : left;
    z-index       : 100300
}