.tabbedView .tabButtons {
    z-index: 400;
}

.tabbedView .tabViews {
    z-index: 300;
}

.tabbedView .tabButtons .tabButton, .tabbedView .tabButtons .tabButton.closed {
    display: inline-block;
    -webkit-box-sizing: border-box;
    text-align: center;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px 0 1px 0;
    padding: 6px 10px;
    margin: 0;
    float: left;
    font-size: 11px;
    background-color: white;
    -webkit-box-shadow: 0 1px 0 white;
    color: #696969;
    text-decoration: none;
    width: 50%;
    -moz-user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
}

.tabbedView .tabButtons .tabButton:HOVER {
    cursor: pointer;
}

.tabbedView .tabButtons .tabButton:FOCUS {
    color: #0c6c9c;
    text-decoration: underline;
}

.tabbedView.closed .tabButtons .tabButton {
    border-width: 1px 1px 1px 0;
}

.tabbedView.closed .tabButtons .tabButton:HOVER {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #edf2f1), color-stop(1, #f7f7f7));
    text-decoration: none;
}

.tabbedView.open .tabButtons .tabButton:HOVER {
    text-decoration: none;
}

.tabbedView.open .tabButtons .tabButton.closed {
    opacity: .5;
    border-width: 1px;
    -webkit-border-bottom-left-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
}

.tabbedView .tabButtons .tabButton.open {
    padding-bottom: 7px;
    border-bottom-width: 0;
    border-bottom-color: white;
    border-width: 1px 1px 0 1px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-box-shadow: none;
    color: #0c6c9c;
    font-weight: bold;
}

.tabbedView .tabButtons .firstTabButton {
    border-left-width: 1px !important;
    -webkit-border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
}

.tabbedView .tabButtons .firstTabButton.open {
    -webkit-border-bottom-left-radius: 0 !important;
    -webkit-border-top-right-radius: 4px !important;
}

.tabbedView .tabButtons .lastTabButton {
    border-right-width: 1px !important;
    -webkit-border-top-right-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
}

.tabbedView .tabButtons .lastTabButton.open {
    -webkit-border-bottom-right-radius: 0 !important;
    -webkit-border-top-left-radius: 4px !important;
}

.tabbedView .tabSeparator {
    clear: both;
}

.tabbedView .tabViews .tabView {
    background-color: white;
    border-color: #d9d9d9;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    display: none;
    margin-top: -1px;
    padding: 10px;
}

.tabbedView .tabViews .tabView.open {
    display: block;
    border-top-width: 1px;
}

.tabbedView .tabViews .tabView.closed {
    display: none;
}