#webclipper3-button stack label.processing {
    background-color: #FCFC63 !important;
    right:0;
    bottom:0;
    height: 11px;
    font-size: 9px;
    -moz-border-radius: 2px; border: 1px solid #9E9E00 !important;
    color: white;
    border-radius: 2px; border: 1px solid #9E9E00 !important;
    background-image:  -moz-linear-gradient(top, #FCFC63, #9E9E00) !important;
    text-shadow: black 1px 1px 2px, red 0 0 1em !important;
    font-weight: 600 !important;
    margin:0;
}

#webclipper3-button stack label {
    background-color: red;
    right:0;
    bottom:0;
    height: 11px;
    font-size: 9px;
    -moz-border-radius: 2px; border: 1px solid #b50000; color: white;
    border-radius: 2px; border: 1px solid #b50000; color: white;
    background-image:  -moz-linear-gradient(top, #e74142, #ce2021);
    text-shadow: black 1px 1px 2px, red 0 0 1em !important;
    font-weight: 600 !important;
    margin:0;

}

toolbar[iconsize="small"] #webclipper3-button stack label.small {
    height: 12px !important;
    font-size: 9px !important;
}

#webclipper3-button stack label.small, #webclipper3-button stack label.big {display: none}

#webclipperNativePopup .clip-arrow {
	margin: 0px 6px; margin-bottom: -1px;
    background: transparent;
}
#webclipperNativePopup .bottom-clip-arrow {
	margin: 0px 6px; margin-top: -1px;
    background: transparent;
}
#webclipperNativePopup {
    background-color: transparent;
    border: 0px; -moz-window-shadow : none;
    text-shadow: none; -moz-appearance: none;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    -moz-transition-property: opacity;
    -moz-transition-duration: 300ms;
    -moz-transition-timing-function: ease;
    -moz-transition-delay: 0s;
}
