
	prefwindow { padding: 0; margin: 0; overflow: hidden; overflow: hidden; }
	prefpane { position: absolute; top: 0; left: 0; padding: 0; margin: 0; overflow: hidden; }
	iframe { display: block; position: absolute; top: 0; left: 0; width: 0; height: 0; padding: 0; margin: 0; }
	.prefWindow-dlgbuttons { display: none; }
