
    #text #articleHeader { border-color: #c5c5c5; }
    #text #relatedNotes { border-color: rgba(197, 197, 197, 0.5); }

    #text a:link { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
    #text #relatedNotes a { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -o-transition-duration: 0s; }

    #text a:hover, #text a:active {	color: #44bde8; }
    
    #text blockquote { color: #c1bfbf; border-color: #c1bfbf; }

    #text thead { background-color: #4f4f4f; }
    #text tr:nth-child(even) { background: #404040; }

    #text hr { border-color: #c5c5c5; }

    html.highlighting ::-moz-selection { background: rgba(151, 192, 204, 0.99); color: #08090e; }
    html.highlighting ::selection { background: rgba(151, 192, 204, 0.99); color: #08090e; }
    #text em.highlight
    {
        /* background-color: #97C0CC; */
        /* color: #08090e; */
        
        background-image: url('../img/highlight--img--blue.png');
        background-repeat: repeat-x;
        background-position: top left, bottom left;
        background-size: 100% 100%;
    }
    
    html.highlighting #box,
    html.highlighting #background
    {
        /*
            cursor and hot-spot position
            requires a default cursor, after the URL one
        */
        cursor: url('../img/highlight--cursor-dark.png') 14 16, text;
    }
    
    #text #relatedNotes #relatedNotes__close { background-image: url('../img/overlay--close-dark-sprite.png'); }

    @media (min--moz-device-pixel-ratio: 2),
           (-webkit-min-device-pixel-ratio: 2),
           (min-device-pixel-ratio: 2)
    {
        
        #text em.highlight { background-image: url('../img/highlight--img--blue@2x.png'); }
        #text #relatedNotes #relatedNotes__close { background-image: url('../img/overlay--close-dark-sprite@2x.png'); }
    
    }

    