@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#webclipper3-button {
	list-style-image: url("chrome://webclipper3/skin/elephant.png");
}

.enmac-clipper-button {
  -moz-image-region: rect(0px, 36px, 23px, 0px);
}

.enmac-clipper-button:hover:active {
  -moz-image-region: rect(46px, 36px, 69px, 0px);
}

.enmac-clipper-button[disabled=true] {
  -moz-image-region: rect(23px, 36px, 46px, 0px);
}
