@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#webclipper3-button {
	list-style-image: url("chrome://webclipper3/skin/elephant.png");
}

#navigator-toolbox[iconsize="small"] #webclipper3-button {
    list-style-image: url("chrome://webclipper3/skin/elephant.png");
    /*width: auto !important;*/
    /*height: auto !important;*/
}

.url
{
    color: #0000ff;
    cursor: pointer;
    text-decoration: underline;
}
.url:hover
{
    color: #ff0000;
}

#webclipper3-button stack label {
    background-color: red;
    right:0;
    bottom:0;
    height: 11px;
    font-size: 9px;
    -moz-border-radius: 2px; border: 1px solid #b50000; color: white;
    border-radius: 2px; border: 1px solid #b50000; color: white;
    background-image:  -moz-linear-gradient(top, #e74142, #ce2021);
    margin:0;
}

/*toolbar[iconsize="small"] #webclipper3-button stack label.small {*/
    /*height: 10px;*/
    /*font-size: 8px;*/
/*}*/

#webclipper3-button stack label.processing,
#webclipper3-button stack label {
    margin-top: -5px !important;
}

#webclipper3-button stack label.small,
#webclipper3-button stack label.big {
    display: none;
}
/*
.enmac-clipper-button {
  -moz-image-region: rect(0px, 36px, 23px, 0px);
}

.enmac-clipper-button:hover:active {
  -moz-image-region: rect(46px, 36px, 69px, 0px);
}

.enmac-clipper-button[disabled=true] {
  -moz-image-region: rect(23px, 36px, 46px, 0px);
}
*/